  <div class="form-inputs">

    <label for="name">Nome</label>
    <input
      type="text"
      id="name"
      name="name"
      value="{{ chef.name}}"
      required
    />

    <label for="avatar">Avatar</label>
    <input
      type="url"
      id="avatar"
      name="avatar_url"
      value="{{ chef.avatar_url}}"
      required
    />

  </div>
