{% extends "_layout/default.njk" %}

{% block body %}
  {% include "../header.njk" %}

  <section class="container">
    <div class="content-header">
      <h1>{{ info.content_title }}</h1>
      <div class="new-content">
        <a href="/admin/chefs/new" class="btn btn-primary">Novo chef</a>
      </div>
    </div>

    {% if chefs[0] %}
      <ul class="list-chefs">
        {% for chef in chefs %}
          <li class="chef">
            <div class="chef-avatar">
              {% if not chef.avatar %}
                <img src="http://placehold.it/64x64?text=AVATAR" />
              {% else %}
                <img src="{{ chef.avatar }}" alt="{{ chef.name }}" />
              {% endif %}
            </div>
            <div class="chef-info">
              <p>{{ chef.name }}</p>
              <a href="/admin/chefs/{{ chef.id }}">visualizar</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <h1>Nenhum Chef encontrado</h1>
    {% endif %}

    {% if pagination.total > 1 %}
      {% include "_partials/pagination.njk" %}
    {% endif %}

  </section>
{% endblock %}
