{% extends "_layout/default.njk" %}

{% block body %}
  {% include "../header.njk" %}

  <section class="container">
    <form
      action="/admin/users/{{ user.id }}?_method=PUT"
      method="POST"
      class="content-form"
      onsubmit="Validate.apply(event)"
    >
    <input type="hidden" name="id" value="{{ user.id }}">
    {# Inputs #}
    {% include "./_form.njk" %}
      <div class="content-header">
        <h1>{{ info.content_title }}</h1>
        <div class="header-btn">
          <a href="/admin/users" class="btn btn-danger">Cancelar</a>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </form>
  </section>
{% endblock %}
