{% extends "_layout/default.njk" %}

{% block body %}
  {% include "../header.njk" %}

  <section class="container">

    <div class="content-header">
      <h1>{{ info.content_title }}</h1>
      <div class="new-content">
        <a href="/admin/users/new" class="btn btn-primary">Novo usuário</a>
      </div>
    </div>

  </section>
{% endblock %}
