{% extends "_layout/default.njk" %}

{% block body %}
  {% include "../header.njk" %}

  <section class="container">

    <div class="content-header">
      <h1>{{ info.content_title }}</h1>
      <div class="new-content">
        <a href="/admin/users/new" class="btn btn-primary">Novo usuário</a>
      </div>
    </div>

    {% if users[0] %}

    <div class="users-list">
      {% for user in users %}
        <div class="user">
          <h2>{{ user.name }}</h2>
          <p>{{ user.email }}</p>

          <div class="buttons">
            <a href="/admin/users/{{ user.id }}/edit">Editar</a>
            <form
              action="/admin/users/{{ user.id }}?_method=DELETE"
              method="post"
              data-form="delete">

              <button type="submit">Remover</button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
    {% else %}
      <h1>Nenhum usuário encontrado</h1>
    {% endif %}

  {% if pagination.total > 1 %}
    {% include "_partials/pagination.njk" %}
  {% endif %}

  </section>
{% endblock %}
