<div class="inputs">
  <div class="content">
    <label>Email</label>
    <input
      name="email"
      placeholder="Digite seu email"
      data-field
    >
    <small>Error message</small>
  </div>

  <div class="content">
    <label>Senha</label>
    <input
      type="password"
      name="password"
      placeholder="Digite sua senha"
      data-field
    >
    <small>Error message</small>
  </div>
</div>
