{% extends "_layout/auth.njk" %}

{% block auth %}
  <form
    onsubmit="Validate.apply(event)"
    action="/new-password"
    method="post"
  >

    <h1>Nova Senha</h1>

    <div class="inputs">
      <div class="content">
        <label>Email</label>
        <input
          name="email"
          placeholder="Digite seu email"
          data-field
        >
        <small>Error message</small>
      </div>

      <div class="content">
        <label>Nova Senha</label>
        <input
          type="password"
          name="password"
          placeholder="Digite sua nova senha"
          data-field
          data-password
        >
        <small>Error message</small>
      </div>

      <div class="content">
        <label>Repetir Senha</label>
        <input
          type="password"
          name="passwordConfirm"
          placeholder="Repita sua nova senha"
          data-field
          data-passwordConfirm
        >
        <small>Error message</small>
      </div>
    </div>

    <div class="auth-footer">
      <a href="/signin">Voltar</a>

      <button type="submit" class="btn btn-primary">Nova Senha</button>
    </div>

    <input type="hidden" name="token" value="{{ token }}">
  </form>
{% endblock auth %}
