{% extends "_layout/auth.njk" %}

{% block auth %}
  <form
    onsubmit="Validate.apply(event)"
    action="/reset-password"
    method="post"
  >

    <h1>Esqueceu a Senha?</h1>

    <div class="inputs">
      <div class="content">
        <label>Email</label>
        <input
          name="email"
          placeholder="Digite seu email para recuperar sua senha"
          data-user="email"
        >
        <small>Error message</small>
      </div>
    </div>

    <div class="auth-footer">
      <a href="/signin">Fazer login</a>

      <button type="submit" class="btn btn-primary">Recuperar</button>
    </div>
  </form>
{% endblock auth %}
