{% extends "_layout/auth.njk" %}

{% block auth %}
  <form
    onsubmit="Validate.apply(event)"
    action="/signin"
    method="post"
  >

    <h1>Iniciar Sessão</h1>

    {% include "./_form.njk" %}

    <div class="auth-footer">
      <a href="#">Perdeu a senha?</a>

      <button type="submit" class="btn btn-primary">Acessar</button>
    </div>
  </form>
{% endblock auth %}
