{% extends "_layout/default.njk" %}

{% block body %}
  {% include "../header.njk" %}

  <div class="container">
    <ul class="list-chefs">
      {% for chef in listChef %}
        <li class="chef">
          <div class="chef-avatar">
            <a href="/app/chefs/{{ chef.id }}">
              <img src="{{ chef.avatar_url }}" alt="{{ chef.name }}">
            </a>
          </div>
          <div class="chef-info">
            <p>{{ chef.name }}</p>
            {% if chef.total_recipes > 1 %}
              <span> {{ chef.total_recipes }} receitas</span>
            {% else %}
              <span> {{ chef.total_recipes }} receita</span>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>

    {% include "../../_partials/pagination.njk" %}
  </div>
{% endblock %}
