{% extends "_layout/default.njk" %}

{% block body %}
  {% include "../header.njk" %}

  <div class="container">
    <ul class="list-chefs">
      {% for chef in allChefs %}
        <li class="chef">
          <div class="chef-avatar">
            <a href="/app/chefs/{{ chef.id }}">
              {% if not chef.avatar %}
                <img src="http://placehold.it/64x64?text=AVATAR" />
              {% else %}
                <img src="{{ chef.avatar }}" alt="{{ chef.name }}" />
              {% endif %}
            </a>
          </div>
          <div class="chef-info">
            <p>{{ chef.name }}</p>
            {% if chef.total_recipes > 1 %}
              <span> {{ chef.total_recipes }} receitas</span>
            {% else %}
              <span> {{ chef.total_recipes }} receita</span>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>

    {% if pagination.total > 1 %}
      {% include "_partials/pagination.njk" %}
    {% endif %}
  </div>
{% endblock %}
