<header>
  <div class="menu-admin">
    <div class="menu">
      <div class="menu-logo">
        <a href="/admin/profile">
          <img src="/images/Foodfy.png" alt="Foodfy Logo" />
        </a>
      </div>

      <nav class="menu-nav admin" data-menu="links">
        <ul>
          <li><a href="/admin/recipes">Receitas</a></li>
          {% if session.is_admin %}
            <li><a href="/admin/chefs">Chefs</a></li>
            <li><a href="/admin/users">Usuários</a></li>
          {% endif %}
          <li><a href="/admin/profile">Perfil</a></li>
        </ul>
      </nav>
    </div>

    <div class="option">
      <div class="home">
        <a href="/">
          <span class="material-icons" title="Ir para site">home</span>
        </a>
      </div>

      <form action="/logout" method="post">
        <button type="submit">Sair</button>
      </form>
    </div>
  </div>
</header>
