:root {
  --purple: #6558c3;
  --danger: #dc4747;
  --white: #fff;
  --dark: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1080px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 54%;
  }
}

@font-face {
  src: url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button,
textarea {
  font-size: 1.6rem;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

#root {
  min-height: 100%;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 1rem;
}

@keyframes show_down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btn {
  width: 121px;
  padding: 10px;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  transition: all 0.3s ease;
  display: inline-block;
  text-align: center;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--purple);
}

.btn-danger {
  background-color: var(--danger);
  margin-right: 5px;
}

/* Site Header */
.header-site {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.logo img {
  min-width: 91px;
  max-width: 100%;
}

.menu-nav ul {
  display: flex;
  margin-left: 12.2rem;
}

.menu-nav ul a {
  display: inline-block;
  margin-right: 3rem;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: var(--dark);
  transition: all 0.3s ease;
}

.menu-nav ul a:hover {
  font-weight: bold;
}

.header-site form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-site form input {
  width: 24.6rem;
  height: 37px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 1rem 1.5rem;
}

.header-site form input::placeholder {
  font-size: 1.4rem;
  color: #999;
}

.header-site form button {
  width: 9.1rem;
  height: 37px;
  background-color: var(--purple);
  color: var(--white);
  border: 0;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 0.8rem;
}

@media (max-width: 760px) {
  .header-site {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu-nav ul {
    margin: 0;
    padding: 1rem 0;
  }

  .menu-nav ul a {
    font-size: 2rem;
  }
}

/* Site Banner */
.banner {
  background-color: #fbdfdb;
  width: 100%;
  border-radius: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-text {
  margin-left: 6rem;
}

.banner-text h1 {
  font-size: 3.2rem;
  color: var(--dark);
  margin-bottom: 10px;
}

.banner-text p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  opacity: 0.7;
  padding-right: 20rem;
}

.banner img {
  margin-right: 10rem;
  margin-top: 6.6rem;
}

@media (max-width: 695px) {
  .banner {
    flex-direction: column;
  }

  .banner-text {
    margin: 0;
  }

  .banner img {
    margin: 1rem;
  }

  .banner-text h1 {
    margin: 2rem 0 1rem;
    text-align: center;
  }

  .banner-text p {
    text-align: center;
    padding: 1rem 1rem 0;
    width: 360px;
  }
}

@media (min-width: 500px) and (max-width: 695px) {
  .banner {
    margin: 0 auto;
    width: 80%;
  }
}

/* Site Recipes */
.recipes-home h2 {
  margin-top: 5rem;
  font-size: 2.4rem;
  color: var(--dark);
}

.list-recipes {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto;
}

.recipe {
  margin: 1rem;
  flex: 1 0 28rem;
}

.recipe img {
  border-radius: 15px;
  margin-bottom: 2rem;
}

.info p {
  font-size: 1.8rem;
  color: var(--dark);
  margin-bottom: 5px;
}

.info span {
  font-size: 1.4rem;
  color: #777;
}

@media (max-width: 720px) {
  .info p {
    font-size: 2rem;
  }
  .info span {
    font-size: 1.8rem;
  }
}

/* Site About */
.about-foodfy h1 {
  margin: 2rem 0;
  font-size: 2.4rem;
  color: var(--font-color);
}

.about-foodfy p,
.about-start p,
.our-recipes p {
  font-size: 1.8rem;
  color: #444;
  line-height: 28px;
  margin-bottom: 1rem;
}

.about-start h2,
.our-recipes h2 {
  font-size: 2rem;
  color: var(--dark);
  margin: 2rem 0;
}

/* Footer */
.footer {
  height: 62px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.footer p {
  font-size: 1.4rem;
  color: #999;
}

/* Pagination */
.pagination ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5rem;
}

.pagination ul a,
.pagination ul li span {
  color: var(--purple);
  font-size: 1em;
  font-weight: bold;
  padding: 1rem 1.5rem;
  display: block;
  transition: all 0.3s ease;
  background-color: #eee;
  border-radius: 5px;
}

.pagination ul li {
  margin-right: 5px;
}

@media (max-width: 720px) {
  .pagination ul a {
    font-size: 2rem;
  }
}

.pagination ul a:hover {
  background-color: var(--purple);
  color: var(--white);
  border-radius: 2px;
}

/* Chefs */
.list-chefs {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.chef {
  display: flex;
  align-items: center;
  margin: 0 1rem 3rem 0;
  width: 100%;
  max-width: 22rem;
}

.chef-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2rem;
}

.chef-info p {
  font-size: 1.8rem;
  color: var(--dark);
  margin-bottom: 5px;
}

.chef-info span {
  font-size: 1.4rem;
  color: #666;
}

.chef-info a {
  font-size: 1.4rem;
  color: var(--purple);
  font-weight: bold;
  text-transform: capitalize;
}

.chef-avatar img {
  max-width: 64px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 3px 1px 6px -4px #000;
}

@media (max-width: 650px) {
  .list-chefs {
    flex-direction: column;
  }

  .chef {
    flex-direction: column;
    box-shadow: 3px 1px 6px -4px #000;
    max-width: 100%;
    margin: 2rem 0;
    padding: 2rem;
  }

  .chef-avatar {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }

  .chef-avatar img {
    display: inline-block;
    min-width: 100px;
    height: 100px;
  }

  .chef-info {
    padding: 0;
    align-items: center;
  }

  .chef-info p,
  .chef-info span,
  .chef-info a {
    font-size: 2rem;
  }
}

/* Show Recipe */
.show-recipe {
  display: flex;
  flex-direction: column;
  max-width: 940px;
  margin: 3rem auto 0;
  padding: 0 1rem;
}

.container .show-recipe {
  padding: 0;
}

.recipe-full-image img {
  width: 100%;
  max-height: 280px;
  border-radius: 15px;
}

.recipe-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 1rem 3rem;
}

.recipe-title h1 {
  font-size: 3.6rem;
  color: var(--dark);
  padding: 5px;
}

.recipe-title p {
  font-size: 2rem;
  color: #777;
}

.recipe-title p a {
  margin-left: 5px;
  font-style: italic;
  font-weight: bold;
  color: var(--purple);
}

.recipe-ingredients h2,
.recipe-preparation h2,
.recipe-information h2 {
  display: inline-block;
  font-size: 2.4rem;
  color: var(--dark);
  padding: 1rem 0;
}

.recipe-ingredients h2::after,
.recipe-preparation h2::after,
.recipe-information h2::after {
  content: 'mostrar';
  font-size: 1.2rem;
  color: #999;
  font-weight: bold;
  margin-left: 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.recipe-ingredients h2.active::after,
.recipe-information h2.active::after,
.recipe-preparation h2.active::after {
  content: 'esconder';
}

.recipe-ingredients ul,
.recipe-preparation ul {
  display: none;
  flex-direction: column;
  list-style: circle;
  list-style-position: inside;
  margin: 1.9rem 0 4rem;
  font-size: 1.8rem;
  color: #444;
  line-height: 28px;
}

.recipe-ingredients ul,
.recipe-preparation ul,
.recipe-information .info {
  animation: show_down 0.5s forwards;
}

.recipe-information .info {
  display: none;
}

.recipe-ingredients ul.active,
.recipe-preparation ul.active {
  display: flex;
}

.recipe-information .info.active {
  display: block;
}

.recipe-information .info {
  margin: 1.9rem 0 5rem;
}

.recipe-information .info p {
  font-size: 1.8rem;
  color: #444;
  line-height: 28px;
  padding-bottom: 1.5rem;
}

@media (max-width: 720px) {
  .recipe-title h1 {
    font-size: 2.6rem;
  }
}

/* Area Admin */
/* Header */
.menu-admin {
  padding: 0 calc((100% - 940px) / 2);
  height: 80px;
  background-color: var(--dark);
  display: flex;
  align-items: center;
}

.menu-logo {
  padding: 0 1rem;
}

.menu-nav.admin ul {
  margin-left: 5rem;
}

.menu-nav.admin ul a {
  color: #fff;
  opacity: 0.5;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-nav.admin ul a:hover {
  opacity: 1;
}

.content-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0 3rem;
  order: -1;
}

.header-btn {
  display: flex;
}

@media (max-width: 720px) {
  .content-header {
    flex-direction: column;
    align-items: center;
  }

  .content-header h1 {
    margin-bottom: 10px;
  }
}

/* Admin Recipes */
.recipes-list {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.admin-recipe {
  margin-right: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-grow: 1;
  width: 320px;
  border-bottom: 1px solid #6558c3;
  padding: 1rem;
}

.container .recipes-list,
.container .admin-recipe {
  padding-left: 0;
  padding-right: 0;
}

.admin-recipe .img {
  padding-right: 2rem;
}

.admin-recipe .img img {
  max-width: 170px;
  border-radius: 8px;
  height: 51px;
  width: 100%;
}

.details p {
  font-size: 1.8rem;
  color: var(--font-color);
  padding-bottom: 5px;
}

.details span {
  font-size: 1.4rem;
  color: #777;
}

.details a {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--purple);
  padding: 1rem 0;
  max-width: 63px;
  text-transform: capitalize;
}

@media (max-width: 600px) {
  .recipes-list,
  .admin-recipe {
    flex-direction: column;
  }

  .details p {
    font-size: 2rem;
  }

  .details span,
  .details a {
    font-size: 1.8rem;
  }

  .recipes-list {
    padding: 1rem;
  }

  .admin-recipe {
    width: 100%;
    margin-bottom: 2rem;
  }

  .admin-recipe .img {
    padding: 0;
  }

  .admin-recipe .img img {
    max-width: 100%;
    height: 102px;
  }

  .details {
    margin-top: 1rem;
  }
}

/* New Content Admin */
.content-form,
.form-inputs {
  display: flex;
  flex-direction: column;
  order: 2;
}

.form-inputs {
  margin: 1rem 0;
}

.form-inputs label {
  font-size: 1.6rem;
  color: var(--dark);
  font-weight: bold;
  margin: 1rem 0;
}

.form-inputs input,
select {
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.form-inputs textarea {
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
  padding: 1rem;
  font-size: 16px;
}

.form-inputs select {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #999;
  font-size: 1.6rem;
}

.ingredients .ingre-group,
.preparation .prep-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.ingredients .ingre-group button,
.preparation .prep-group button {
  display: none;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--danger);
  position: absolute;
  top: -10px;
  right: -10px;
  border: 2px solid var(--white);
}

.ingre-group + .ingre-group button,
.prep-group + .prep-group button {
  display: flex;
}

.form-inputs a {
  font-size: 1.6rem;
  color: var(--purple);
  font-weight: bold;
  max-width: 194px;
  display: block;
  margin-bottom: 3rem;
  cursor: pointer;
}

/* Show Chef Profile */
.chef-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.chef-bio .avatar img {
  max-width: 200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.6);
  margin-bottom: 3rem;
}

.chef-bio h1 {
  font-size: 3.6rem;
  color: var(--dark);
  padding: 0.8rem;
}

.chef-bio span {
  font-size: 2rem;
  color: #777;
}

@media (max-width: 720px) {
  .chef-bio .avatar img {
    width: 150px;
    height: 150px;
  }

  .chef-bio h1 {
    font-size: 3rem;
  }
}
