{% extends "_layout/default.njk" %}

{% block body %}
  {% include "./header.njk" %}

  <section class="container">
    <article class="about-foodfy">
      <h1>{{ about.title }}</h1>
      <p>
        No Restaurante Foodfy, localizado em Timon , você pode saborear
        pratos da cozinha brasileira com destaque especial para a  deliciosa
        culinária maranhense como a carne de sol do norte, o arroz de  cabrito,
        o capote, a galinha da terra e o peixe frito com arroz de cuxá.
      </p>
      <p>
        O Guia Quatro Rodas elegeu, o Foodfy como um dos melhores do país.
      </p>
    </article>

    <article class="about-start">
      <h2>{{ start.title }}</h2>
      <p>
        Desde a sua fundação, em novembro de 1994, na cidade de Timon-MA, o
        Restaurante Foodfy tem a sua história focada no respeito ao
        cliente e amor pelo que faz.
      </p>
    </article>

    <article class="our-recipes">
      <h2>{{ recipes.title }}</h2>
      <p>
        O restaurante Foodfy possui uma cozinha moderna, montada com
        equipamentos de última geração.
      </p>
      <p>
        Há alto controle de qualidade, tanto na produção como na preparação dos
        alimentos, até mesmo uma preocupação final com a estética de nossos
        pratos, que é feito constantemente por toda a equipe.
      </p>
    </article>
  </section>
{% endblock %}
