{% extends "_layout/default.njk" %}

{% block body %}
  {% include "./header.njk" %}

  <section class="container">
    <article class="about-foodfy">
      <h1>{{ about.title }}</h1>
      <p>
        Eaque est qui. Autem accusamus quisquam distinctio consequatur et
        voluptatibus neque. Sit accusantium totam labore qui est et. Ducimus
        ut necessitatibus odit. Modi voluptatem eveniet a architecto illum
        eius id molestiae eius. Ad reiciendis saepe.
      </p>
      <p>
        Excepturi nam illo sed et omnis in ea. Qui voluptas ut. Architecto
        minus quia nihil aut nesciunt. Sunt accusantium est optio. Aperiam
        voluptas magnam repudiandae.
      </p>
    </article>

    <article class="about-start">
      <h2>{{ start.title }}</h2>
      <p>
        Perferendis qui et esse ut soluta nihil. Repellendus esse vel sequi
        saepe est. Consequatur assumenda maiores quisquam consequatur dolor
        aut aut nemo. Aut modi rerum ipsa nihil ullam consequatur. Blanditiis
        iure porro assumenda deleniti dolores velit.
      </p>
      <p>
        Rerum quo itaque sit ut doloribus dolorem sed distinctio. Eaque ea ea
        temporibus qui qui magnam sapiente voluptatem. Cumque qui expedita
        itaque laudantium eligendi illum qui corrupti veritatis. Vel
        consequatur rerum voluptates necessitatibus. Non dignissimos quis quia
        eligendi ipsa. Est exercitationem qui odit.
      </p>
    </article>

    <article class="our-recipes">
      <h2>{{ recipes.title }}</h2>
      <p>
        Et qui necessitatibus eaque dolores. Maxime et culpa earum. Est aut
        corporis libero at et voluptatem veritatis porro nostrum. Est
        reprehenderit vel numquam voluptatem cumque dolores. Amet omnis
        nostrum occaecati dolore a.
      </p>
      <p>
        Ea doloribus omnis possimus mollitia et. Unde et voluptatum non libero
        accusantium nihil quis sit. Quia quod quia quia laudantium soluta.
        Commodi aut odit impedit. Qui laudantium suscipit sint voluptas sunt.
        Qui et itaque laboriosam.
      </p>
    </article>
  </section>
{% endblock %}
