<header class="container">
  <div class="header-site">
    <div class="logo">
      <a href="/">
        <img src="/images/logo.png" alt="Foodfy">
      </a>
    </div>

    <nav class="menu-nav">
      <ul >
        <li><a href="/app/about">Sobre</a></li>
        <li><a href="/app/recipes">Receitas</a></li>
        <li><a href="/app/chefs">Chefs</a></li>
      </ul>
    </nav>

    <form action="#" method="get">
      <input type="text" placeholder="Buscar uma receita">
      <button type="submit">Buscar</button>
    </form>
  </div>
</header>
