<header class="container">
  <div class="header-site">
    <div class="logo">
      <a href="/">
        <img src="/images/logo.png" alt="Foodfy">
      </a>
    </div>

    <nav class="menu-nav" data-menu="links">
      <ul>
        <li><a href="/app/recipes">Receitas</a></li>
        <li><a href="/app/chefs">Chefs</a></li>
        <li><a href="/app/about">Sobre</a></li>
      </ul>
    </nav>

    <form action="/search" method="get">
      <input
        type="text"
        name="filter"
        placeholder="Buscar uma receita"
        required
        {% if filter %}
          value={{ filter }}
        {% endif %}
      >
      <button type="submit">Buscar</button>
    </form>

    <div class="btn-signin">
      <a href="/signin">Entrar</a>
    </div>

  </div>
</header>
