{% extends "_layout/default.njk" %}

{% block body %}
  {% include "./header.njk" %}

  <section class="container">
    <div class="banner">

      <div class="banner-text">
        <h1>{{ about.title }}</h1>
        <p>{{ about.description }}</p>
      </div>

      <img src="/images/chef.png" alt="Chef">
    </div>

   <div class="most_accessed">
    <h2>Mais acessadas</h2>

    <ul class="recipes-site">
      {% for recipe in recipes %}
        <li>
          <a href="/app/recipes/{{ recipe.id }}">
            <div class="recipe-item">
              <img src="{{ recipe.image_url }}" alt="{{ recipe.title }}">
              <div class="recipe-info">
                <p>{{ recipe.title }}</p>
                <span>por {{ recipe.chef }}</span>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>

   </div>
  </section>
{% endblock %}
