{% extends "_layout/default.njk" %}

{% block body %}
  {% include "./header.njk" %}

  <div class="container">
    <h2>Buscando por "bacon"</h2>
    <section class="list-recipes">

      <div class="recipe">
        <a href="/app/recipes/1">
          <img src="/images/recipes/burger.png" alt="Burger">

          <div class="info">
            <p>Triplo bacon burger</p>
            <span>por Jorge Relato</span>
          </div>
        </a>
      </div>

    </section>
    {% include "../_partials/pagination.njk" %}
  </div>
{% endblock %}
