{% extends "_layout/default.njk" %}

{% block body %}
  {% include "./header.njk" %}

  <div class="container">
    <h2>Buscando por "{{ filter }}"</h2>
    <section class="list-recipes">
      {% if recipes[0] %}
        <ul class="recipes-site">
          {% for recipe in recipes %}
            <li>
              <a href="/app/recipes/{{ recipe.id }}">
                <div class="recipe-item">
                  {% if not recipe.image %}
                    <img src="http://placehold.it/260x80?text=RECEITA SEM FOTO" >
                  {% else %}
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                  {% endif %}
                  <div class="recipe-info">
                    <p>{{ recipe.title }}</p>
                    <span>por {{ recipe.chef }}</span>
                  </div>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
      <p>Nenhum resultado encontrado</p>
      {% endif %}
    </section>
    {% if pagination.total > 1 %}
      {% include "_partials/pagination.njk" %}
    {% endif %}
  </div>
{% endblock %}
