<ul class="recipes-list">
  <li class="admin-recipe">
    <div class="img">
      <img src="/images/recipes/burger.png" alt="Asinha" />
    </div>

    <div class="details">
      <p>Triplo bacon burguer</p>
      <span>por Vania Steroski</span>
      <a href="/admin/recipes/1">visualizar</a>
    </div>
  </li>
  <li class="admin-recipe">
    <div class="img">
      <img src="/images/recipes/burger.png" alt="Asinha" />
    </div>

    <div class="details">
      <p>Triplo bacon burguer</p>
      <span>por Vania Steroski</span>
      <a href="/admin/recipes/1">visualizar</a>
    </div>
  </li>
  <li class="admin-recipe">
    <div class="img">
      <img src="/images/recipes/burger.png" alt="Asinha" />
    </div>

    <div class="details">
      <p>Triplo bacon burguer</p>
      <span>por Vania Steroski</span>
      <a href="/admin/recipes/1">visualizar</a>
    </div>
  </li>
  <li class="admin-recipe">
    <div class="img">
      <img src="/images/recipes/burger.png" alt="Asinha" />
    </div>

    <div class="details">
      <p>Triplo bacon burguer</p>
      <span>por Vania Steroski</span>
      <a href="/admin/recipes/1">visualizar</a>
    </div>
  </li>
  <li class="admin-recipe">
    <div class="img">
      <img src="/images/recipes/burger.png" alt="Asinha" />
    </div>

    <div class="details">
      <p>Triplo bacon burguer</p>
      <span>por Vania Steroski</span>
      <a href="/admin/recipes/1">visualizar</a>
    </div>
  </li>
  <li class="admin-recipe">
    <div class="img">
      <img src="/images/recipes/burger.png" alt="Asinha" />
    </div>

    <div class="details">
      <p>Triplo bacon burguer</p>
      <span>por Vania Steroski</span>
      <a href="/admin/recipes/1">visualizar</a>
    </div>
  </li>
</ul>
