
<ul class="list-chefs">
  <li class="chef">
    <a href="#" class="chef-avatar">
      <img src="https://avatars0.githubusercontent.com/u/36246937?v=4" alt="Dailton Bastos">
    </a>
    <div class="chef-info">
      <p>Dailton Bastos</p>
      <span>4 receitas</span>
    </div>
  </li>
  <li class="chef">
    <a href="#" class="chef-avatar">
      <img src="https://avatars0.githubusercontent.com/u/36246937?v=4" alt="Dailton Bastos">
    </a>
    <div class="chef-info">
      <p>Dailton Bastos</p>
      <span>4 receitas</span>
    </div>
  </li>
  <li class="chef">
    <a href="#" class="chef-avatar">
      <img src="https://avatars0.githubusercontent.com/u/36246937?v=4" alt="Dailton Bastos">
    </a>
    <div class="chef-info">
      <p>Dailton Bastos</p>
      <span>4 receitas</span>
    </div>
  </li>
  <li class="chef">
    <a href="#" class="chef-avatar">
      <img src="https://avatars0.githubusercontent.com/u/36246937?v=4" alt="Dailton Bastos">
    </a>
    <div class="chef-info">
      <p>Dailton Bastos</p>
      <span>4 receitas</span>
    </div>
  </li>
  <li class="chef">
    <a href="#" class="chef-avatar">
      <img src="https://avatars0.githubusercontent.com/u/36246937?v=4" alt="Dailton Bastos">
    </a>
    <div class="chef-info">
      <p>Dailton Bastos</p>
      <span>4 receitas</span>
    </div>
  </li>
  <li class="chef">
    <a href="#" class="chef-avatar">
      <img src="https://avatars0.githubusercontent.com/u/36246937?v=4" alt="Dailton Bastos">
    </a>
    <div class="chef-info">
      <p>Dailton Bastos</p>
      <span>4 receitas</span>
    </div>
  </li>
  <li class="chef">
    <a href="#" class="chef-avatar">
      <img src="https://avatars0.githubusercontent.com/u/36246937?v=4" alt="Dailton Bastos">
    </a>
    <div class="chef-info">
      <p>Dailton Bastos</p>
      <span>4 receitas</span>
    </div>
  </li>
  <li class="chef">
    <a href="#" class="chef-avatar">
      <img src="https://avatars0.githubusercontent.com/u/36246937?v=4" alt="Dailton Bastos">
    </a>
    <div class="chef-info">
      <p>Dailton Bastos</p>
      <span>4 receitas</span>
    </div>
  </li>
</ul>
