<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Dailton Bastos">
  <meta name="description" content="Foodfy Recipes">
  <link rel="stylesheet" href="/style.css">

  <script>
    document.documentElement.className += " js";
  </script>

  {% block pag_title %}
    <title>{{ info.page_title }}</title>
  {% endblock %}
</head>
