{% extends "_layout/default.njk" %}

{% block body %}
    <div class="not-found">
      <div class="content">
        <h1>404</h1>
        <h2>Ops! <span>🧐</span></h2>
        <p>{{ info.msg }}</p>
        <a href="/" class="btn btn-primary">Home Page</a>
      </div>
    </div>
{% endblock %}
