<strong style="text-transform: capitalize;">Bem vindo, {{ name }}</strong>

<p>Essa é sua senha para acessar sua conta no Foodfy</p>

<p>
  Senha secreta: <strong>{{ password }}</strong><br />
</p>

<small>A senha é de uso pessoal, mantenha segura</small>
<br />
