/* Admin Area */
/* Header */
.menu-admin {
  padding: 0 calc((100% - 940px) / 2);
  min-height: 80px;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-admin .menu {
  display: flex;
  align-items: center;
}

.menu-logo {
  padding: 0 1rem;
}

.menu-nav.admin ul {
  margin-left: 5rem;
}

.menu-admin .option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-admin .option .home {
  margin-right: 10rem;
}

@media (max-width: 630px) {
  .menu-admin {
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-admin .menu {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem auto;
  }
  .menu-admin .option {
    width: 100%;
  }

  .menu-admin form {
    margin-right: 2rem;
  }

  .menu-admin .option .home {
    margin-left: 2rem;
  }
}

.menu-nav.admin ul a {
  color: #fff;
  opacity: 0.5;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-nav.admin ul a:hover {
  opacity: 1;
}

.menu-admin .home a {
  color: #fff;
}

.menu-admin form button {
  display: block;
  color: #fff;
  opacity: 0.5;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  padding: 8px;
  background-color: var(--dark);
  transition: all 0.3s ease;
}

.menu-admin form button:hover {
  opacity: 1;
}

.content-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0 3rem;
  order: -1;
}

.header-btn {
  display: flex;
}

@media (max-width: 720px) {
  .content-header {
    flex-direction: column;
    align-items: center;
  }

  .content-header h1 {
    margin-bottom: 10px;
  }
}
