{% extends "_layout/default.njk" %}

{% block body %}
  {% include "../header.njk" %}

  <div class="container">
    <ul class="recipes-site">
      {% for recipe in allRecipes %}
        <li>
          <a href="/app/recipes/{{ recipe.id }}">
            <div class="recipe-item">
              <img src="{{ recipe.image_url }}" alt="{{ recipe.title }}">
              <div class="recipe-info">
                <p>{{ recipe.title }}</p>
                <span>por {{ recipe.chef }}</span>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
    {% include "../../_partials/pagination.njk" %}
  </div>
{% endblock %}
