{% extends "_layout/default.njk" %}

{% block body %}
  {% include "../header.njk" %}

  <div class="container">
    <ul class="recipes-site">
      {% for recipe in allRecipes %}
        <li>
          <a href="/app/recipes/{{ recipe.id }}">
            <div class="recipe-item">
              {% if not recipe.image %}
                <img src="http://placehold.it/260x80?text=RECEITA SEM FOTO" >
              {% else %}
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
              {% endif %}
              <div class="recipe-info">
                <p>{{ recipe.title }}</p>
                <span>por {{ recipe.chef }}</span>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
    {% if pagination.total > 1 %}
      {% include "_partials/pagination.njk" %}
    {% endif %}
  </div>
{% endblock %}
