{% extends "_layout/default.njk" %}

{% block body %}
  {% include "../header.njk" %}

  <article class="show-recipe">
    <div class="recipe-full-image">
      <img src="{{ recipe.image_url }}" alt="{{ recipe.title }}" />
    </div>

    <div class="recipe-title">
      <h1>{{ recipe.title }}</h1>
      <p>por<a href="/app/chefs/{{ recipe.chef_id }}">{{ recipe.chef }}</a></p>
    </div>

    <div class="recipe-ingredients">
      <h2 data-btn="accordion">Ingredientes</h2>
      <ul>
        {% for ingredient in recipe.ingredients %}
          <li>{{ingredient}}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="recipe-preparation">
      <h2 data-btn="accordion">Modo de preparo</h2>
      <ul>
        {% for preparation in recipe.preparation %}
          <li>{{preparation}}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="recipe-information">
      <h2 data-btn="accordion">Informações adicionais</h2>
      <div class="info">
        <p>{{ recipe.information }}</p>
      </div>
    </div>
  </article>

{% endblock %}
