  <div class="form-inputs">
    <label for="chef">Chef</label>
    <select id="chef">
      <option value="#" selected disabled>Selecione um chef</option>
      <option value="#">Dailton Bastos</option>
      <option value="#">Dailton Bastos</option>
      <option value="#">Dailton Bastos</option>
    </select>

    <label for="recipe_image">Imagem da receita</label>
    <input type="text" id="recipe_image"/>

    <label for="ingredients">Ingredientes</label>
    <div class="ingre-group">
      <input type="text" id="ingredients" />
      <button type="button">X</button>
    </div>

    <span>Adicionar novo ingrediente</span>

    <label for="preparation">Modo de preparo</label>
    <div class="prep-group">
      <input type="text" id="preparation" />
      <button type="button">X</button>
    </div>

    <span>Adicionar novo passo</span>

    <label for="information">Informações adicionais</label>
    <textarea id="information" cols="30" rows="10"></textarea>
  </div>
