  <div class="form-inputs">
    <label for="chef">Chef</label>
    <select id="chef">
      <option value="#" selected disabled>Selecione um chef</option>
      <option value="#">Dailton Bastos</option>
      <option value="#">Dailton Bastos</option>
      <option value="#">Dailton Bastos</option>
    </select>

    <label for="recipe_image">Imagem da receita</label>
    <input type="text" id="recipe_image"/>

    <label for="ingredients">Ingredientes</label>
      <div class="ingredients">
        <div class="ingre-group" data-child>
          <input type="text" id="ingredients" name="ingredients[]"/>
          <button type="button" data-btn="remove">X</button>
        </div>
      </div>
      <a href="#" data-btn="ingred">Adicionar novo ingrediente</a>

    <label for="preparation">Modo de preparo</label>
      <div class="preparation">
        <div class="prep-group" data-child>
          <input type="text" id="preparation" name="preparation[]"/>
          <button type="button" data-btn="remove">X</button>
        </div>
      </div>
      <a href="#" data-btn="prep">Adicionar novo passo</a>

    <label for="information">Informações adicionais</label>
    <textarea id="information" cols="30" rows="10"></textarea>
  </div>
