{% extends "_layout/default.njk" %}

{% block body %}
  {% include "../header.njk" %}

  <section class="container">
    <div class="content-header">
      <h1>{{ info.content_title }}</h1>
      <div class="header-btn">
        <form
          onsubmit="ConfirmDelete.handleDelete(event)"
          action="/admin/recipes/{{ recipe.id }}?_method=DELETE"
          method="POST"
          data-form="delete"
        >
          <button type="submit" class="btn btn-danger">Deletar</button>
        </form>
        <a href="/admin/recipes/{{ recipe.id }}/edit" class="btn btn-primary">Editar receita</a>
      </div>
    </div>

    <article class="show-recipe">
      <div class="gallery">
        <div class="recipe-full-image" data-gallery="full-img">
          {% if not files[0] %}
            <img src="http://placehold.it/900x300?text=RECEITA SEM FOTOS" >
          {% else %}
            <img src="{{ files[0].src }}" alt="{{ files[0].name }}" />
          {% endif %}
        </div>

        {% if files.length > 1 %}
          <div class="gallery-preview" data-gallery-preview>
            {% for image in files %}
              <img
                src="{{ image.src }}"
                alt="{{ image.name }}"
                {% if loop.index0 === 0 %}
                  class="active"
                {% endif %}
                onclick="ImageGallery.setImage(event)"
              >
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="recipe-title">
        <h1>{{ recipe.title }}</h1>
        {% if session.is_admin %}
          <p>por<a href="/admin/chefs/{{ recipe.chef_id }}">{{ recipe.chef }}</a></p>
        {% else %}
          <p>por<a href="/app/chefs/{{ recipe.chef_id }}">{{ recipe.chef }}</a></p>
        {% endif %}
      </div>

      <div class="recipe-ingredients">
        <h2 class="active" onclick="Accordion.title(event)">Ingredientes</h2>
        <ul class="active">
          {% for ingredient in recipe.ingredients %}
            <li>{{ingredient}}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="recipe-preparation">
        <h2 onclick="Accordion.title(event)">Modo de preparo</h2>
        <ul>
          {% for preparation in recipe.preparation %}
            <li>{{preparation}}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="recipe-information">
        <h2 onclick="Accordion.title(event)">Informações adicionais</h2>
        <div class="info">
          <p>{{ recipe.information }}</p>
        </div>
      </div>
    </article>

  </section>
{% endblock %}
