{% extends "_layout/default.njk" %}

{% block body %}
  {% include "../header.njk" %}

  <section class="container">
    <div class="content-header">
      <h1>{{ info.content_title }}</h1>
      <div class="header-btn">
        <form action="#">
          <input type="hidden" />
          <button type="submit" class="btn btn-danger">Deletar</button>
        </form>
        <a href="/admin/recipes/1/edit" class="btn btn-primary">Editar receita</a>
      </div>
    </div>
    {% include "_partials/show_recipe.njk" %}
  </section>
{% endblock %}
